{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Juego del ahorcado</h1>
    <div id="cuerpo">
        <img id="imagen" src="{{ url_for('static',filename='img/imagen_cuerpo_0.png') }}" alt="">
    </div>
    <div class="centrar-texto">
        <!-- <p>aqui van las letras a adivinar</p> -->
        <br>
        <div class="letras" id="espacios">
        </div>
        <br><br>
    </div>
    <div id="teclado">
        <div class="centrar">
            <button class="letra" id="a" name="a" value="a">A</button>
            <button class="letra" id="b" name="b" value="b">B</button>
            <button class="letra" id="c" name="c" value="c">C</button>
            <button class="letra" id="d" name="d" value="d">D</button>
            <button class="letra" id="e" name="e" value="e">E</button>
            <button class="letra" id="f" name="f" value="f">F</button>
            <button class="letra" id="g" name="g" value="g">G</button>
            <button class="letra" id="h" name="h" value="h">H</button>
            <button class="letra" id="i" name="i" value="i">I</button>
            <button class="letra" id="j" name="j" value="j">J</button>
            <br><br>
            <button class="letra" id="k" name="k" value="k">K</button>
            <button class="letra" id="l" name="l" value="l">L</button>
            <button class="letra" id="m" name="m" value="m">M</button>
            <button class="letra" id="n" name="n" value="n">N</button>
            <button class="letra" id="ñ" name="ñ" value="ñ">Ñ</button>
            <button class="letra" id="o" name="o" value="o">O</button>
            <button class="letra" id="p" name="p" value="p">P</button>
            <button class="letra" id="q" name="q" value="q">Q</button>
            <button class="letra" id="r" name="r" value="r">R</button>
            <button class="letra" id="s" name="s" value="s">S</button>
            <br><br>
            <button class="letra" id="t" name="t" value="t">T</button>
            <button class="letra" id="u" name="u" value="u">U</button>
            <button class="letra" id="v" name="v" value="v">V</button>
            <button class="letra" id="w" name="w" value="w">W</button>
            <button class="letra" id="x" name="x" value="x">X</button>
            <button class="letra" id="y" name="y" value="y">Y</button>
            <button class="letra" id="z" name="z" value="z">Z</button>
        </div>
    </div>
    <input type="hidden" name="" id="size" value="{{tamaño}}">
</div>
<script type="text/javascript">
    generarEspacios({{tamaño}})
 </script>
{% endblock %}